{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <h1>Modifier le produit</h1>

{{ form(form) }}

    <a href="{{ path('app_produit_selected', {'id': produit.id}) }}">Annuler</a>
{% endblock %}
