* {
    margin: 0%;
    padding: 0%;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("/uploads/897653e6fd5502773cddf0db7f93d2d0.jpg");
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
}
hr {
    margin: 15px;
    background-color: #ffffff;
    border: none;
    height: 1.5px;
}

.groupe {
    background-color: #ffffff54;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 10px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 0.9rem;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    outline: none;
}

form input:focus {
    border-color: #537ca7;
    box-shadow: 0 0 5px #537ca772;
}

/* Bouton de connexion */
button {
    display: flex;
    justify-content: center;
    background-color: #537ca7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button {
    display: flex;
    justify-content: center;
    background-color: #537ca7;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

button:hover {
    background-color: #6597cc;
}
.button:hover {
    background-color: #6597cc;
}

h2 {
    margin-top: 20px;
    font-size: 0.9rem;
}

h2 a {
    color: #537ca7;
    text-decoration: none;
    font-weight: bold;
}

h2 a:hover {
    text-decoration: underline;
}

.alert.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
