{% extends 'base.html.twig' %}

{% block title %}Les Commandes{% endblock %}

{% block body %}

<h2>Forme de Commandes</h2>

{{ form(commandesForm) }}

<h2>Forme de ContenuPanier</h2>

{{ form(panierForm) }}

{% endblock %}
