{% extends 'base.html.twig' %}

{% block title %}Les Commandes{% endblock %}

{% block body %}

{% if app.user %}
<h1>tkt t'es bien loggin</h1>
{% endif %}

<h2>Forme de Commandes</h2>

{{ form(commandesForm) }}

<h2>Forme de ContenuPanier</h2>

{{ form(panierForm) }}

{% endblock %}
